Search Text: <input type="text" ng-model="searchText">
Options: <select name="Options" ng-model="options">
    <option value="normal">Normal</option>
    <option value="vat">CVR</option>
    <option value="name">Name</option>
    <option value="production">Production</option>
    <option value="phonenumber">Phone number</option>  
</select>
Country: <select name="Country" ng-model="country">
    <option value="dk">DK</option>
    <option value="no">NO</option>
</select>
<input type="submit" value="search" name="Search" ng-click="getCompany()"/>
<br>
<br>
<table class="table">    
    <thead> 
    <th>Company Name:&nbsp; &nbsp; </th>
    <th>CVR:&nbsp; &nbsp; </th>
</thead>
<tbody>
    <tr>
        <td>{{data.name}} </td>
        <td>{{data.vat}} </td>

    </tr>
</tbody>
</table>