
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
Search Text:<input type="text" ng-model="searchText">
Options: <select name="Options" ng-model="options">
    <option value="normal">Normal</option>
    <option value="vat">CVR</option>
    <option value="name">Name</option>
    <option value="production">Production</option>
    <option value="phonenumber">Phone number</option>  
</select>
Country: <select name="Country" ng-model="country">
    <option value="dk">DK</option>
    <option value="no">NO</option>
</select>
<input type="submit" value="search" name="Search" ng-click="getCompany()"/>
<br>
<br>
<table class="table">    
    <thead>
    <th>CVR</th>
    <th>Company Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone</th>
    <th>Email</th>
</thead>
<tbody>
    <tr>
        <td>{{data.vat}} </td>
        <td>{{data.name}} </td>
        <td>{{data.address}} </td>
        <td>{{data.city}} {{data.zipcode}}</td>
        <td>{{data.phone}} </td>
        <td>{{data.email}} </td>
    </tr>
</tbody>
</table>
<uib-accordion>
    <uib-accordion-group ng-repeat="company in data.productionunits" heading={{company.name}} >
        <table class="table">
            <th>Address</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
            <tr>
                <td>{{company.address}}</td>
                <td>{{company.city}}</td>
                <td>{{company.phone}}</td>
                <td>{{company.email}}</td>
            </tr>

        </table>
    </uib-accordion-group>

</uib-accordion>

