<h3>Exchange Calculator</h3> &nbsp;
<input type="text" class="form-control" placeholder="Converts to.." ng-model="amount">
<br>
<select select class="form-control" placeholder="Category" name="currencyFrom" ng-model="fromcurrency" required>
    <option value="" disabled selected>Convert From</option>
    <option value="PHP">PHP</option>
    <option value="BRL">BRL</option>
    <option value="BGN">BGN</option>
    <option value="MYR">MYR</option>
    <option value="SGD">SGD</option>
    <option value="HRK">HRK</option>
    <option value="ISK">ISK</option>
    <option value="ZAR">ZAR</option>
    <option value="GBP">GBP</option>
    <option value="PLN">PLN</option>
    <option value="THB">THB</option>
    <option value="KRW">KRW</option>
    <option value="ILS">ILS</option>
    <option value="CAD">CAD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
    <option value="XDR">XDR</option>
    <option value="SEK">SEK</option>
    <option value="CNY">CNY</option>
    <option value="IDR">IDR</option>
</select>&nbsp;
<select select class="form-control" name="currencyTo" ng-model="tocurrency" required>
    <option value="" disabled selected>Convert To</option>
    <option value="PHP">PHP</option>
    <option value="BRL">BRL</option>
    <option value="BGN">BGN</option>
    <option value="MYR">MYR</option>
    <option value="SGD">SGD</option>
    <option value="HRK">HRK</option>
    <option value="ISK">ISK</option>
    <option value="ZAR">ZAR</option>
    <option value="GBP">GBP</option>
    <option value="PLN">PLN</option>
    <option value="THB">THB</option>
    <option value="KRW">KRW</option>
    <option value="ILS">ILS</option>
    <option value="CAD">CAD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
    <option value="XDR">XDR</option>
    <option value="SEK">SEK</option>
    <option value="CNY">CNY</option>
    <option value="IDR">IDR</option>    
</select>

<br>
<input type="submit" value="Convert" name="Convert" ng-click="convert()"/>
<input type="text" class="form-control" placeholder="Converts to.." ng-model="calculated">
<br>
<hr>
<table class="table">    
    <thead>
        <tr>
            <th>Date</th>
            <th>Code</th>
            <th>Desc</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in data">
            <td>{{data.date}} </td>
            <td>{{data.code}} </td>
            <td>{{data.desc}} </td>
            <td>{{data.rate}} </td>
        </tr>
    </tbody>
</table>